---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero"
import AuroraLayer from "../components/AuroraLayer"
import Playbook from "../components/Playbook"
---

<Layout title="NVBflow | Automation Solutions">
	<main>
		<div class="h-[calc(100vh+1100px)]">
			<section class="sticky top-0 h-screen flex flex-col items-center justify-center gap-6 overflow-hidden">
				<AuroraLayer client:load />
				<div class="relative z-10">
					<Hero client:load />
				</div>
			</section>
		</div>
		<Playbook client:visible />
	</main>
</Layout>